.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon {
    margin: .5rem;
    padding: 2rem 1rem;
    background-color: #49D0B0;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .name {
    margin-bottom: .25rem;
}

.pokemon .number {
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .detail {
    display: flex;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img {
    max-width: 100%;
    align-self: flex-end;
    height: 70px;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

@media screen and (min-width: 320px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 481px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 996px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}